Flask
Flask-Login
Flask-SocketIO
Flask-CORS
Flask-SQLAlchemy
paramiko
psutil
ipaddress
PyYAML
lxml
Jinja2
Werkzeug
influxdb-client==1.29.0
junos-eznc
ncclient
wheel
influxdb
flask_migrate
gunicorn
eve
eventlet==0.37.0
