{# mac_vrf_vlan_aware_template.j2 #}
# MAC VRF VLAN AWARE COMMON#
    set routing-instances MACVRF_VLAN_AWARE instance-type mac-vrf
    set routing-instances MACVRF_VLAN_AWARE service-type vlan-aware
    set routing-instances MACVRF_VLAN_AWARE protocols evpn encapsulation vxlan
    set routing-instances MACVRF_VLAN_AWARE protocols evpn default-gateway no-gateway-community
    set routing-instances MACVRF_VLAN_AWARE protocols evpn remote-ip-host-routes
    set routing-instances MACVRF_VLAN_AWARE vtep-source-interface lo0.0
    set routing-options route-distinguisher {{ leaf_ip }}:{{ overlay_as }}
    # Include service_int_leaves in the routing configuration
    {%- if service_int_leaves[leaf_index] is not none %}
        {%- set service_interfaces = service_int_leaves[leaf_index].split(',') %}
        {%- for service_int in service_interfaces if service_int.strip() %}
            set routing-instances MACVRF_VLAN_AWARE interface {{ service_int.strip() }}
        {%- endfor %}
    {% endif %}
# MAC VRF VLAN AWARE #
{%- for i in range(service_count) %}
    {%- set vxlan_vlan_id = base_vxlan_vlan_id + i %}
    {%- set vxlan_vni = base_vxlan_vni + i %}
    set routing-instances MACVRF_VLAN_AWARE protocols evpn extended-vni-list {{ vxlan_vni }}
    set routing-instances MACVRF_VLAN_AWARE vrf-target target:{{ leaf_ip }}:{{ vxlan_vlan_id }}
    set routing-instances MACVRF_VLAN_AWARE vlans vlan{{ vxlan_vlan_id }} vlan-id {{ vxlan_vlan_id }}
    set routing-instances MACVRF_VLAN_AWARE vlans vlan{{ vxlan_vlan_id }} vxlan vni {{ vxlan_vni }}
    set routing-instances MACVRF_VLAN_AWARE vlans vlan{{ vxlan_vlan_id }} l3-interface irb.{{ vxlan_vlan_id }}
    set routing-instances MACVRF_VLAN_AWARE route-distinguisher {{ overlay_as }}:{{ vxlan_vlan_id }}
    set routing-instances vrf_vlan{{ vxlan_vlan_id }} instance-type vrf
    set routing-instances vrf_vlan{{ vxlan_vlan_id }} interface irb.{{ vxlan_vlan_id }}
    set routing-instances vrf_vlan{{ vxlan_vlan_id }} route-distinguisher {{ leaf_ip }}:{{ vxlan_vlan_id }}
    set routing-instances vrf_vlan{{ vxlan_vlan_id }} vrf-target target:{{ leaf_ip }}:{{ vxlan_vlan_id }}
    set interfaces irb.{{ vxlan_vlan_id }} family inet address {{ service_ips[i] }}/24
    # Set IPv6 address for the IRB interface (if available)
    {%- if v6_service_ips is defined and v6_service_ips[i] is not none %}
    set interfaces irb.{{ vxlan_vlan_id }} family inet6 address {{ v6_service_ips[i] }}/64
    {% endif %}
{% endfor %}
