<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <script src="static/topology_draw.js"></script>
</head>
<body>

            <div id="topologyCanvasSection" class="hidden mt-4">
            <h2>Network Topology</h2>
            <div style="position: relative;">
                <canvas id="topologyCanvas" width="1000" height="600" style="border:1px solid #000000;"></canvas>
                <div id="topologyTools" class="hidden">
                    <i id="drawRectangleBtn" class="fas fa-square fa-2x" title="Draw Rectangle"></i>
                    <i id="drawCircleBtn" class="fas fa-circle fa-2x" title="Draw Circle"></i>
                    <i id="drawLineBtn" class="fas fa-slash fa-2x" title="Draw Line"></i>
                    <i id="drawTextBtn" class="fas fa-font fa-2x" title="Draw Text"></i>
                    <i id="deleteSelectedBtn" class="fas fa-trash fa-2x" title="Delete Selected"></i>
                    <i id="clearCanvasBtn" class="fas fa-eraser fa-2x" title="Clear Canvas"></i>
                    <i id="undoBtn" class="fas fa-undo fa-2x" title="Undo"></i>
                </div>
            </div>
        </div>

</body>
</html>